<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>查询温度</title>
    </head>

    <body>
        <center>
            <h2>查询温度</h2>
            <form action="/info" method="post">
                字段1   ：<input type="text" name="userName" value=""/><br/>
                字段2   ：<input type="text" name="userAge" value=""/><br/>
                字段3   ：<input type="text" name="userSex" value=""/><br/><br/>
                <input type="submit" value="查询"/>
            </form>
        </center>
    </body>


</html>